@import "tailwindcss";

/* Tokens de design */
:root {
  --color-primary: 22 163 74;   /* green-600 */
  --color-primary-soft: 240 253 244; /* green-50 */

  --color-text-main: 31 41 55;  /* gray-800 */
  --color-text-muted: 107 114 128; /* gray-500 */

  --radius-base: 0.75rem;
}

/* Melhor base tipográfica */
html {
  font-size: 16px;
}

body {
  background-color: rgb(249 250 251); /* gray-50 */
  color: rgb(var(--color-text-main));
}
